@media(min-width:1200px){
    .tab-sidebar{
        display: none;
    }
}
@media(max-width:1200px){
    .dash-body{
        height: 100vh;
    }
    .gcard{
        height: fit-content;
        &__gimg{
            width: 100%;
        }
    }
    .content__body{
        overflow-y: scroll;
        @include scroll-1;
        width:calc(100vh - 200px);
    }
    .content__listing{
        display: none;
    }
    .content{
        padding: 0;
    }
    .dash-body__lmenu{
        display: none;
    }
    .dash-body__rmenu{
        display: none;
    }
    .topbar {
        display: none;
    }
    .content__body {
        padding: 15px;
    }
    .content__listing--sec {
        height: calc(100vh - 95px);
    }
}


@media(max-width:768px){
    .side-info{
        width: 100%;
        margin-bottom: 50px;
        height: inherit;
    }
    .menu-primary{
        &__content{
            height: fit-content;
        }
    }
    .accordion-sec{
        height: fit-content;
        overflow-y: inherit;
    }
    
}