@media(min-width:1200px){
    .tab-sidebar{
        display: none;
    }
}
@media(max-width:1200px){
    .dash-body{
        height: 100vh;
    }
    .gcard{
        height: fit-content;
        &__gimg{
            width: 100%;
        }
    }
    .content__body{
        overflow-y: scroll;
        @include scroll-1;
        width:calc(100vh - 200px);
    }
    .content__listing{
        display: none;
    }
    .content{
        padding: 0;
    }
    .dash-body__lmenu{
        display: none;
    }
    .dash-body__rmenu{
        display: none;
    }
    .topbar {
        display: none;
    }
    .content__body {
        padding: 15px;
    }
    .content__listing--sec {
        height: calc(100vh - 95px);
    }
}


@media(max-width:768px){
    .side-info{
        width: 100%;
        margin-bottom: 50px;
        height: inherit;
    }
    .menu-primary{
        &__content{
            height: fit-content;
        }
    }
    .accordion-sec{
        height: fit-content;
        overflow-y: inherit;
    }
    .tab-sidebar{
        display:none
    }
    .content{
        flex-wrap: wrap;
        height: fit-content;
    }
    .content__body{
        height: fit-content;
        overflow-y: inherit;
        width: 100%;
    }
    .mobile-sidebar__header{
        display: flex !important;
    }
    .gcard__detail--title {
        font-size: 17px;
        margin-right: 15px;
        width: fit-content;
        display: flex;
        align-items: center;
        line-height: normal;
    }
    .gcard__detail--price {
        font-size: 17px;
        border-right: 2px solid;
        padding-right: 11px;
        display: flex;
        align-items: center;
        line-height: normal;
    }
    .gcard__detail--subtitle {
        font-size: 13px;
        width: fit-content;
        margin-left: 15px;
        display: flex;
        align-items: center;
        line-height: normal;
    }
}

@media(max-width:450px){
    .gcard__img {
        width: 40px;
    }
    .gcard__detail--title {
        font-size: 13px;
    }
    .gcard__detail--price {
        font-size: 13px;
    }
    .gcard__detail--subtitle {
        font-size: 10px;
    }
}