.gcard{
    padding: 10px;
    background: #fff;
    height: 90px;
    @include d-flex-wrap;
    align-items: center;
    &__gimg{
        display: block;
        margin-top: auto;
        width: 75%;
    }
    &__img{
        width: 50px;
    }
    &__detail{
        padding-left: 15px;
        width: calc(100% - 50px);
        @include d-flex-wrap;
        align-items: center;
        height: fit-content;
        
        &--title{
            font-size: 13px;
            width: 100%;
        }
        &--price{
            font-size: 16px;
            font-weight: 500;
        }
        &--subtitle{
            font-size: 11px;
        }
    }
}
