.user-sec{
    font-size: 13px;
    img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        overflow: hidden;
    }
}
.link-btn i{
    font-size: 20px;
}
.g-5, .gx-5 {
    --bs-gutter-x: 30px !important;
}
.no-alert{
    height: calc(100vh - 225px) !important;
}