.topbar{
    height: 55px;
    @include d-flex;
    &__lmenu, &__rmenu{
        padding: 12px 15px !important;
        height: fit-content;
        width: 60px;
        @include d-flex;
        @include flex-center;
        color: black !important;
        font-size: 18px;
        span{
            margin-top: 4px;
            color: #787878;
        }
    }
    &__content{
        @include d-flex-wrap;
        padding: 12px 15px !important;
        height: fit-content;
        &--lsec{
            align-items: center;
            width: 215px;
            @include d-flex;
            align-items: center;
            img{
                width: 105px;
            }
        }
        &--rsec{
            align-items: center;
            justify-content: flex-end;
            @include d-flex-wrap;
            width: fit-content;
            button{
                position: relative;
                .notification{
                    display: none;
                    position: absolute;
                    top: 0px;
                    right: -1px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #146db6;
                }
                .notification.active{
                    display: block;
                }
            }
        }
    }
}
