$primary: #146db6;
$secondary: #fff;
$success: #fff;
$danger: #fff;
$warning: #fff;
$info: #fff;
$bg:#FAFAFA;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$body-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.09);
$shadow-1:0px 2px 4px #e2e2e2;
$shadow-2:0px 0px 4px #e2e2e2;